{% extends 'base_en.html' %}

{% load static %}

{% block content %}
<div class="container-fluid position-relative p-0">
	<img class="w-100" src="{% static 'img/nursery_showcase.jpg' %}">

	<div class="carousel-caption">
		<h1>NURSERIES</h1>
		<i class="fa fa-angle-down bounce"></i>
	</div>
</div>
<div class="container fade-in mt-4">
	<br>
	<div class="custom-div">
		<p>To this date, Forest Department Sarawak has built several major nurseries mainly to ensure that the seedling production is sufficient. These major nurseries include Bintawa Nursery in Bintawa, IFRC Nursery in Semenggoh, Sabal Nursery in Simunjan, STIC Nursery in Sibu and Niah Nursery in Miri. In essence, a nursery provide a favourable conditions for the seedlings. The nursery infrastructure is specifically designed to provide a good environment in terms of suitable temperature and humidity, the right type of soil, sufficient amount of water supply and the right amount of sunlight intensity.</p>
		<hr>
	</div>
	<!--<h2 class="custom-header text-center">Our nurseries</h2>-->
	<div class="row justify-content-center">
		{% for nursery in object_list %}
		<div class="col-sm-4 border rounded shadow m-2">
			<a href="{% url 'nursery_detail' nursery.pk %}">
				<img class="w-100 mt-3" src="{{ nursery.nursery_img.url }}">
			<h3>{{ nursery.name }}</h3>
			</a>
		</div>
		{% endfor %}
	</div>
</div>
{% endblock %}