{% extends 'base_en.html' %}

{% load static %}

{% block content %}
<div class="container-fluid position-relative p-0">
	<img class="w-100" src="{% static 'img/activity_showcase.png' %}">

	<div class="carousel-caption mb-4">
		<h1>ACTIVITIES</h1>
		<i class="fa fa-angle-down bounce"></i>
	</div>
</div>
<div class="container fade-in mt-4">
	<br>
	<div class="custom-div">
		<p>Since its establishement, we have conducted various activities under the Forest Landscape Restoration initiatives to deliver value for our organization and to the community. Our main activities can be divided into five main areas that include planting program, seminar, wilding, nursery and official events. We are not limited to only planting trees but we also are commited to provide service and value to the local Sarawak people through our activities.</p>
		<br>
		<hr>
	</div>
	<div class="row justify-content-center">
		<div class="col-sm-4 mb-4 hover-overlay">
			<div class="activity-div-1 shadow pt-2 pb-2">
				<a href="{% url 'planting_index' %}">
					<img class="container-fluid" src="{% static 'img/activity_planting.png' %}">
					<div class="container activity-div-2">
						<h4 class="btn btn-custom">Planting Program</h4>
					</div>
				</a>
			</div>
		</div>
		<div class="col-sm-4 mb-4 hover-overlay">
			<div class="activity-div-1 shadow pt-2 pb-2">
				<a href="{% url 'corporate_index' %}">
					<img class="container-fluid" src="{% static 'img/activity_corporate.png' %}">
					<div class="container activity-div-2">
						<h4 class="btn btn-custom">Corporate Events</h4>
					</div>
				</a>
			</div>
		</div>
		<div class="col-sm-4 mb-4 hover-overlay">
			<div class="activity-div-1 shadow pt-2 pb-2">
				<a href="{% url 'wilding_index' %}">
					<img class="container-fluid" src="{% static 'img/activity_wilding.png' %}">
					<div class="container activity-div-2">
						<h4 class="btn btn-custom">Wilding Collection</h4>
					</div>
				</a>
			</div>
		</div>
		<div class="col-sm-4 mb-4 hover-overlay">
			<div class="activity-div-1 shadow pt-2 pb-2">
				<a href="{% url 'nursery_activity_index' %}">
					<img class="container-fluid" src="{% static 'img/activity_nursery.png' %}">
					<div class="container activity-div-2">
						<h4 class="btn btn-custom">Nursery Activities</h4>
					</div>
				</a>
			</div>
		</div>
	</div>
</div>

{% endblock %}