{% extends 'base_en.html' %}

{% load static %}

{% block content %}
<div class="container-fluid fade-in position-relative p-0">
	<img class="w-100" src="{% static 'img/forest_showcase.png' %}">

	<div class="carousel-caption mb-4">
		<h1>FOREST TYPE</h1>
		<i class="fa fa-angle-down bounce"></i>
	</div>
</div>
<div class="container fade-in mt-4">
	<br>
	<div class="custom-div">
		<p>In general, Sarawak has the landmass of 12.4 million hectares. Its forest is the habitat of wide range of flora and fauna species, thanks to its tropical climate. In addition, Sarawak State Government is the body that handles the forest management. 
		Ever since, the forest has been classified into three categories, namely  Permanent Forest Estates, Totally Protected Areas (National Parks, Wildlife Sanctuaries and Nature Reserves) and Stateland Forest. </p>
		<p>Sarawak forest has different types of vegetation and mainly comprises of Hill Mixed Dipterocarp Forest (7.35 million hectares), Peat Swamp Forest (0.33 million hectares), Mangrove Forest (0.07 million hectares) and others (Kerangas Forest, Montane Forest and Limestone Forest).</p>
		<hr>
	</div>
	<br>
	<div class="row justify-content-center">
		{% for forest in object_list %}
		<div class="custom-div fade-in col-lg-3 m-2">
			<div class="card shadow" style="width: 18rem;">
			  <img class="card-img-top" src="{{ forest.forest_img.url }}">
			  <div class="card-body">
			    <h5 class="card-title">{{ forest.name }}</h5>
			    <p class="card-text">{{ forest.description | truncatechars:100 | safe }}</p>
			    <a href="{% url 'forest_detail' forest.pk %}" class="btn btn-custom">Read more</a>
			  </div>
			</div>
		</div>
		{% endfor %}
	</div>
</div>
{% endblock %}