/* Global */
/* Keyframes */
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}
/* End keyframes */

/* Media query */

@media screen and (max-width:600px){
	.custom-div {
		margin: auto;
		width: 90%
	}
}

@media screen and (min-width: 600px){
	.custom-div {
		margin: auto;
		width: 60%;
	}
}
/* End media query */

body {
	/*font-family: 'Open Sans', sans-serif;*/
	font-family: 'Lato', sans-serif;
	font-size: 18px;
}


h1, h2, h3, h4, h5, h6 {
	/*font-family: 'Roboto Mono', monospace;*/
	font-family: 'Cardo', serif;
}

li {
	list-style: none;
}

nav li {
	/* 'Roboto Mono', monospace;*/
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
}

nav a {
	color: #000;
}

nav a:hover {
	color: #ff6600;
}

.navbar-custom {
	background-color: #000 !important;
}

.navbar-toggler {
	border-color: rgba(255,255,255, 1);
}

.navbar-logo-img {
	width: 50px;
}

.hero-image {
	display: flex;
	flex-direction: column;
	background-image: url('/static/img/showcase.png');
	align-self: center;
	height: 100%;
	min-height: 30em;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	align-items: center;
	justify-content: center;
}

.hero-text {
	width: 300px;
	height: 450px;
	text-align: left;
	color: #fff;
}

.hero-header {
	font-family: 'Merriweather', serif;
	font-weight: bold;
	align-self: center;
	font-size: 50px;
	line-height: 1em;
	animation: fadeIn linear 2s;
  -webkit-animation: fadeIn linear 2s;
  -moz-animation: fadeIn linear 2s;
  -o-animation: fadeIn linear 2s;
  -ms-animation: fadeIn linear 2s;
}

.custom-header {
	font-family: 'Cardo', serif;
	font-weight: bold;
	align-self: center;
	font-size: 30px;
	line-height: 1em;
	color: #1E6D52;
}

.hero-content {
	/*font-family: 'Roboto Mono', monospace;*/
	font-family: 'Lato', sans-serif;
	font-size: 20px;
		animation: fadeIn linear 1.7s;
  -webkit-animation: fadeIn linear 1.7s;
  -moz-animation: fadeIn linear 1.7s;
  -o-animation: fadeIn linear 1.7s;
  -ms-animation: fadeIn linear 1.7s;
}

.home-main-div {
	height: 30em;
  display: flex;
  align-items: center;
  justify-content: center
}

.btn-custom {
	/*background-color: #ff6600;*/
	background-color: #1E6D52;
	color: #fff;
}

.btn-custom:hover {
	background-color: #70dab4;
}

.title-label {
	color: #000;
}

.text-label {
	margin: 0;
	line-height: 1.2;
	font-size: 15px;
}

.text-muted {
	font-size: 12px;
}

.text-content img {
	width: 100%;
	height: auto;
	display: block;
}

.hr-line {
	border: none;
	height: 2px;
	background-color: #d3d3d3;
}

.fa-angle-down {
	font-size: 60px;
}

.footer {
	background-color: transparent;
	color: #000;
	font-size: 12px;
}

.img-logo-box {
	align-self: center;
	margin: 0 10px;
}

.activity-div-1 {
	position: relative;
	text-align: center;
}

.activity-div-2 {
	position: absolute;
	color: #fff;
	left: 10px;
	bottom: 50%;
	font-size: 20px;
}

.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	left:100px;
	background-color:#1E6D52;
	color:#FFF;
	border-radius:50px;
	text-align:center;
	/*box-shadow: 2px 2px 3px #999;*/
}

.float:hover {
	background-color: #70dab4;
	color: #000;
}

.my-float{
	margin-top:22px;
}

.bounce {
  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;

}

.fade-in {
	animation: fadeIn linear 1s;
  -webkit-animation: fadeIn linear 1s;
  -moz-animation: fadeIn linear 1s;
  -o-animation: fadeIn linear 1s;
  -ms-animation: fadeIn linear 1s;
}

@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-moz-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-o-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-ms-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

