{% extends 'base_en.html' %}

{% load static %}

{% block content %}
<div class="container-fluid fade-in position-relative p-0">
	<img class="w-100" src="{% static 'img/species_showcase.png' %}">

	<div class="carousel-caption">
		<h1>SPECIES</h1>
		<i class="fa fa-angle-down bounce"></i>
	</div>
</div>
<div class="container fade-in mt-4">
	<br>
	<div class="custom-div">
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
		quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
		consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
		cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
		proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
		<hr>
	</div>
	<div class="row">
	  <div class="col-sm-6">
	    <div class="card shadow">
	      <div class="card-body">
	        <h5 class="card-title">Indigenous species</h5>
	        <hr>
	        <img class="w-100 mb-4" src="{% static 'img/indigenous_species_main.png' %}">
	        <p class="card-text">Indigenous species is a species that is native to Borneo island. These species can be easily found in Sarawak forest because it can naturally adapt to the biodiversity and its tropical climate. </p>
	        <a href="{% url 'indigenous_index' %}" class="btn btn-custom">View</a>
	      </div>
	    </div>
	  </div>
	  <div class="col-sm-6">
	    <div class="card shadow">
	      <div class="card-body">
	        <h5 class="card-title">Exotic species</h5>
	        <hr>
	        <img class="w-100 mb-4" src="{% static 'img/exotic_species_main.png' %}">
	        <p class="card-text">Exotic species grows outside their natural vegetation zone and area. These species found in Sarawak mostly comes from industrial-based activities such as horticulture and forestry.</p>
	        <a href="{% url 'exotic_index' %}" class="btn btn-custom">View</a>
	      </div>
	    </div>
	  </div>
	</div>
</div>
{% endblock %}