{% extends 'base_en.html' %}

{% block content %}
<br>
<br>
<div class="container">
	<h4 class="text-center mb-4">Exotic species in Sarawak</h4>
	<div class="row d-flex justify-content-center">
		{% for species in exotic_species_index %}
		<a class="link-unstyled" href="{% url 'species_detail' species.pk %}">
			<div class="col">
				<div class="avatar mx-auto">
					<img class="shadow rounded-circle z-depth-2" width="150" height="150" src="{{ species.species_thumbnail.url }}">
				</div>
				<div class="text-center">
					<p>{{ species.local_name }}</p>
				</div>
			</div>
		</a>
		{% endfor %}
	</div>
</div>
{% endblock %}