{% extends 'base_en.html' %}

{% load static %}

{% block content %}
<div class="container-fluid fade-in position-relative p-0">
	<img class="w-100" src="{% static 'img/species_showcase.png' %}">

	<div class="carousel-caption">
		<h1>SPECIES</h1>
		<i class="fa fa-angle-down bounce"></i>
	</div>
</div>
<div class="container fade-in mt-4">
	<br>
	<div class="custom-div">
		<p>Sarawak has a huge number of species, thus making it one of the most dense biodiversity in the world. Here's a fun fact; according to World Wide Fund For Nature (formerly World Wildlife Fund), dense plant diversity can occur in a very small area of forest. For example, in Lambir Hill National Park, there are 1,175 tree species were documented in a 52 hectares plot, the size of 52 football fields. For our restoration program, we have a large volume of species grew in our nurseries and it can be categorized into two types; indigenous species and exotic species.</p>
		<hr>
	</div>
	<br>
	<div class="row">
	  <div class="col-sm-6">
	    <div class="card shadow">
	      <div class="card-body">
	        <h5 class="card-title">Indigenous species</h5>
	        <hr>
	        <img class="w-100 mb-4" src="{% static 'img/indigenous_species_main.png' %}">
	        <p class="card-text">Indigenous species is a species that is native to Borneo island. These species can be easily found in Sarawak forest because it can naturally adapt to the biodiversity and its tropical climate. </p>
	        <a href="{% url 'indigenous_index' %}">
	        	<button class="w-100 btn btn-custom">View</button>
	        </a>
	      </div>
	    </div>
	  </div>
	  <div class="col-sm-6">
	    <div class="card shadow">
	      <div class="card-body">
	        <h5 class="card-title">Forest Plantation Species</h5>
	        <hr>
	        <img class="w-100 mb-4" src="{% static 'img/exotic_species_main.png' %}">
	        <p class="card-text">Exotic species grows outside their natural vegetation zone and area. These species found in Sarawak mostly comes from industrial-based activities such as horticulture and forestry.</p>
	        <a href="{% url 'exotic_index' %}">
	        	<button class="w-100 btn btn-custom">View</button>
	        </a>
	      </div>
	    </div>
	  </div>
	</div>
</div>
{% endblock %}