{% extends 'base_bm.html' %}

{% load static %}

{% block content %}
<div class="hero-image position-relative fade-in">
	<div class="hero-text text-center">
		<img class="w-50 mb-2" src="{% static 'img/flr_logo_outline_white.png' %}">
		<h1 class="hero-header">PENGHIJAUAN SARAWAK</h1>
		<hr style="background-color: #fff;">
		<p class="hero-content">Jabatan Hutan Sarawak</p>
		<div class="carousel-caption">
			<i class="fa fa-angle-down bounce"></i>
		</div>
	</div>
</div>

<!-- SGC -->
	<div class="container mt-4 mb-4">
		<div class="container-fluid p-4 border rounded shadow">
			<div class="row">
				<div class="col-sm-6">
					<img class="w-100" src="{% static 'img/cm.png' %}">
				</div>
				<div class="col-sm-6">
					<h2>Komitmen Kerajaan Sarawak</h2>
					<br>
					<p>Ketua Menteri Sarawak, Yang Amat Berhormat Datuk Patinggi (Dr) Abang Zohari bin Tun Datuk Abang Haji Openg.</p> 
					<p>Tujuan utama aadalah untuk memperkayakan kawasan bekas pembalakan, terutamanya kawasan hutan simpan kekal yangn mempunyai spesies kayu bernilai. Restorasi hutan adalah penting untk memastikan hutan terus berkekalan dan ekosistem dapat berfungsi. Selain daripada itu, ia adalah untuk memastikan kita mempunyai bekalan kayu yang cukup dan mapan.</p>
					<!--<a class="btn btn-custom" href="https://www.malaymail.com/news/malaysia/2019/03/07/forest-restoration-a-major-agenda-for-sarawak-cm-says/1730036" target="_blank">Learn More</a>-->
				</div>
			</div>
		</div>
	</div>
	<!-- End SGC-->

	<div class="container mt-4 mb-4">
		<div class="container-fluid p-4 border rounded shadow">
			<div class="row">
				<div class="col-sm-6">
					<h2>Jabatan Hutan Sarawak</h2>
					<br>
					<br>
					<p>Pengarah Jabatan Hutan Sarawak, Ybhg Datu Hamden Bin Haji Mohammad, berkata usaha restorasi hutan ini akan memberi keseimbangan dan mengurangkan kesan eksplorasi hutan hsail daripada pembanguna. Ia juga akan turut dapat mengurangkan kesan perubahan iklim. Setiap pokok yang ditanam adalah suara untuk perubahan, satu monumen dan simbol untuk pemulihan Bumi dan mesej yang membuktikan kita mampu mengubah cara kita.</p>
				</div>
				<div class="col-sm-6">
					<img class="w-100" src="{% static 'img/df.png' %}">
				</div>
			</div>
		</div>
	</div>
	<br>
	<!-- Objectives -->
	<div class="container mt-4 mb-4">
		<div class="container-fluid">
			<div class="row">
				<div class="col-sm-8">
					<h2>Matlamat Kami</h2>
					<p>1. Untuk mengembalikan dan memulihkan kawasan hutan simpan kekal, kawasan hutan terlindung sepenuhnya dan hutan kerajaan.</p>
					<p>2. Untuk memperkayakan kawasan bekas pembalakan dengan spesies bernilai</p>
					<p>3. Untuk menaiktaraf tahap kehidupan komuniti yang bergantung dengan hutan</p>
					<p>4. Untuk mengurangkan tekanan terhadap hutan dengan menumpukan hasil hutan kepada penanaman hutan komersial dengan spesies cepat tumbuh</p>
					<div class="pt-4">
						<a class="btn btn-custom" href="{% url 'wdim' %}">Why does it matter?</a>
					</div>
				</div>
				<div class="col-sm-4">
					<img src="{% static 'img/engkabang.png' %}">
				</div>
			</div>
		</div>
	</div>
	<!-- End Objectives -->

	<br>
	<div class="container">
		<hr>
	</div>

<div class="container">
	<div class="row">
	  <div class="col-sm-6 mb-4">
	    <div class="card">
	      <div class="card-body">
	        <h4 class="card-title">Berkaitan kami</h4>
	        <p class="card-text">Restorasi Landskap Hutan telah dilancarkan oleh Yang Amat Berhormat Datuk Patinggi (Dr) Abang Zohari bin Tun Datuk Abang Haji Openg pada 15 Jun 2019 di Hutan Simpan Sabal</p>
	        <a href="{% url 'about' %}" class="btn btn-custom">Cerita kami</a>
	      </div>
	    </div>
	  </div>
	  <div class="col-sm-6 mb-4">
	    <div class="card">
	      <div class="card-body">
	        <h4 class="card-title">Hutan Kita</h4>
	        <p class="card-text">Sebahagian besar daripada kawasan Sarawak adalah terdiri daripada hutan. Ia menempatkan sejumlah besar kepelbagaian biologi tropika. Hutan Sarawak juga mempunyai kepelbagaian flora kerana Sarawak mempunyai pelbagai jenis habitat.</p>
	        <a href="{% url 'forest_index' %}" class="btn btn-custom">Teroka</a>
	      </div>
	    </div>
	  </div>
	  <div class="col-sm-6 mb-4">
	    <div class="card">
	      <div class="card-body">
	        <h4 class="card-title">Sumber kami</h4>
	        <p class="card-text">Nurseri adalah penting untuk  menyediakan keadaan yang optimum untuk pertumbuhan biji benih. Ia juga adalah untuk memastikan jumlah maksimum biji benih sihat yang dapat dibekalkan.</p>
	        <a href="{% url 'nursery_index' %}" class="btn btn-custom">Ikuti kami</a>
	      </div>
	    </div>
	  </div>
	  <div class="col-sm-6 mb-4">
	    <div class="card">
	      <div class="card-body">
	        <h4 class="card-title">Spesies</h4>
	        <p class="card-text">Kami mengumpul spesies asal dan spesies eksotik. ia adalah untuk memastikan kita mempunyai bekalan biji benih yang mencukupi. Selain itu, ia adalah untuk melindungi kepelbagaian genetik tumbuhan.</p>
	        <a href="{% url 'species_index' %}" class="btn btn-custom">Ketahui lebih lanjut</a>
	      </div>
	    </div>
	  </div>
	  <div class="col-sm-6 mb-4">
	    <div class="card">
	      <div class="card-body">
	        <h4 class="card-title">Activiti</h4>
	        <p class="card-text">Anda boleh melihat semua aktiviti yang telah diadakan di Sarawak. Ia merangkumi program penanaman, seminar, kempen kesedaran, menandatangani memorandum kesefahaman dan banyak lagi.</p>
	        <a href="{% url 'activity_index' %}" class="btn btn-custom">See our progress</a>
	      </div>
	    </div>
	  </div>
	  <div class="col-sm-6 mb-4">
	    <div class="card">
	      <div class="card-body">
	        <h4 class="card-title">Kolaborasi</h4>
	        <p class="card-text">Partnership between both public and private organizations is crucial to ensure the success of forest restoration. We share the same interest and spirit towards our goal.</p>
	        <a href="{% url 'partnership' %}" class="btn btn-custom">See who are with us</a>
	      </div>
	    </div>
	  </div>
	  <div class="col-sm-6 mb-4">
	    <div class="card">
	      <div class="card-body">
	        <h4 class="card-title">The Way Forward</h4>
	        <p class="card-text">We have  a long term plan to establish a strong presence in Sarawak restoration initiative. It comprises seven main agendas and goals that serve as our guidelines.</p>
	        <a href="{% url 'way_forward' %}" class="btn btn-custom">Our plan </a>
	      </div>
	    </div>
	  </div>
	  <div class="col-sm-6 mb-4">
	    <div class="card">
	      <div class="card-body">
	        <h4 class="card-title">Publication</h4>
	        <p class="card-text">We documented our journey, research, results and data in various form of media. We use both traditional media such as poster and digital media such as web and digital files.</p>
	        <a href="{% url 'publication_index' %}" class="btn btn-custom">See what we've published</a>
	      </div>
	    </div>
	  </div>
	</div>
</div>

<div style="height: 100px;">
	<!--Empty stuff-->
</div>
{% endblock %}