{% extends 'base_en.html' %}

{% load static %}

{% block content %}
<div class="hero-image position-relative fade-in">
	<div class="hero-text text-center">
		<img class="w-50 mb-2" src="{% static 'img/flr_logo_outline_white.png' %}">
		<h1 class="hero-header">GREENING SARAWAK</h1>
		<hr style="background-color: #fff;">
		<p class="hero-content">Forest Department Sarawak</p>
		<div class="carousel-caption">
			<i class="fa fa-angle-down bounce"></i>
		</div>
	</div>
</div>

<!-- SGC -->
	<div class="container mt-4 mb-4">
		<div class="container-fluid p-4 border rounded shadow">
			<div class="row">
				<div class="col-sm-6">
					<img class="w-100" src="{% static 'img/cm.png' %}">
				</div>
				<div class="col-sm-6">
					<h2>Sarawak Government Commitment</h2>
					<p>Sarawak Chief Minister Datuk Patinggi Abang Johari Tun Openg announced that forest restoration is one of the main agenda of the state government for coming years.</p> 
					<p>The sole purpose is to enrich the logged-over areas, especially permanent forest estates with high value timber species. Forest restoration is crucial as it keeps the forest alive and ensuring the overall ecosystem can carry its natural functions. Furthermore, it is to ensure that our forest can have sufficient and sustainable timber production.</p>
					<!--<a class="btn btn-custom" href="https://www.malaymail.com/news/malaysia/2019/03/07/forest-restoration-a-major-agenda-for-sarawak-cm-says/1730036" target="_blank">Learn More</a>-->
				</div>
			</div>
		</div>
	</div>
	<!-- End SGC-->

	<br>
	<!-- Objectives -->
	<div class="container mt-4 mb-4">
		<div class="container-fluid">
			<div class="row">
				<div class="col-sm-8">
					<h2>Our Goals</h2>
					<p>1. Regain ecological functionality of forest in Sarawak</p>
					<p>2. Enhance human well-being and livelihood of forest-dependent communities </p>
					<p>3. Re-establish the structure, productivity, and species diversity of forest</p>
					<p>4. Ensure sufficient future timber stocking for sustainable forest management</p>
					<!--<div class="pt-4">
						<a class="btn btn-custom" href="#">Why does it matter?</a>
					</div>-->
				</div>
				<div class="col-sm-4">
					<img src="{% static 'img/engkabang.png' %}">
				</div>
			</div>
		</div>
	</div>
	<!-- End Objectives -->

	<br>
	<div class="container">
		<hr>
	</div>

<div class="custom-div mt-4 fade-in">
	<h3 class="custom-header text-center">About us</h3>
	<p>FLR was launched by Sarawak Chief Minister Datuk Patinggi Abang Johari Tun Openg on 15 June 2019 at Sabal Agroforestry Centre. The principles behind the restoration of forest is nothing new in Sarawak as it existed as early as 1920s, through the gazettement of Totally Protected Areas (TPAs) and Permanent Forest Estates (PFEs).</p>
	<div class="text-center">
		<a href="{% url 'about' %}">
			<button class="btn btn-custom">Story time</button>
		</a>
	</div>
</div>

<div class="custom-div">
	<hr>
</div>

<div class="custom-div mt-4 fade-in">
	<h3 class="custom-header text-center">Our nurseries</h3>
	<p>Nursery is important to provide optimum growing condition for germination to occur. It also ensure the right production of desired number of seedlings that is healthy.</p>
	<div class="text-center">
		<a href="{% url 'nursery_index' %}">
			<button class="btn btn-custom">Take a walk</button>
		</a>
	</div>
</div>

<div class="custom-div">
	<hr>
</div>

<div class="custom-div mt-4 fade-in">
	<h3 class="custom-header text-center">Species</h3>
	<p>We look for indigenous and non-indigeneous species. It is to ensure we have sufficient supply of seedlings. Moreover, it is to protect and save plant genetic diversity.</p>
	<div class="text-center">
		<a href="{% url 'species_index' %}">
			<button class="btn btn-custom">Learn more</button>
		</a>
	</div>
</div>

<div class="custom-div">
	<hr>
</div>

<div class="custom-div mt-4 fade-in">
	<h3 class="custom-header text-center">Activities</h3>
	<p>You can view all the planting programs that had been held throughout Sarawak. It ranges from planting program, seminar, awareness campaign, MoU Signings and more.</p>
	<div class="text-center">
		<a href="{% url 'activity_index' %}">
			<button class="btn btn-custom">See our progress</button>
		</a>
	</div>
</div>

<div class="custom-div">
	<hr>
</div>

<div class="custom-div mt-4 fade-in">
	<h3 class="custom-header text-center">Partnership</h3>
	<p>Partnership between both public and private organizations is crucial to ensure the success of forest restoration. For some organizations, Memorandum of Understanding (MoU) commemorates the partnership. For others, the partnership embodies collaboration for planting programs, data sharing, solving the same issues and having mutual understanding and interest.</p>
	<div class="text-center">
		<a href="{% url 'partnership' %}">
			<button class="btn btn-custom">See who are with us</button>
		</a>
	</div>
</div>

<div class="custom-div">
	<hr>
</div>

<div class="custom-div mt-4 fade-in">
	<h3 class="custom-header text-center">Publications</h3>
	<p>We documented our journey, research, results and data in various form of media. We use both traditional media such as poster and digital media such as web and digital files.</p>
	<div class="text-center">
		<a href="{% url 'publication_index' %}">
			<button class="btn btn-custom">See what we've published</button>
		</a>
	</div>
</div>

<!--<div class="custom-div text-center" style="margin-top: 100px;">
	<img src="{% static 'img/engkabang.png' %}">
</div>-->

<div style="height: 100px;">
	<!--Empty stuff-->
</div>
{% endblock %}