{% extends 'base_en.html' %}

{% load static %}

{% block content %}
<div class="hero-image position-relative fade-in">
	<div class="hero-text text-center">
		<img class="w-50 mb-2" src="{% static 'img/flr_logo_outline_white.png' %}">
		<h1 class="hero-header">GREENING SARAWAK</h1>
		<hr style="background-color: #fff;">
		<p class="hero-content">Forest Department Sarawak</p>
		<div class="carousel-caption">
			<i class="fa fa-angle-down bounce"></i>
		</div>
	</div>
</div>

<!-- SGC -->
	<div class="container mt-4 mb-4">
		<div class="container-fluid p-4 border rounded shadow">
			<div class="row">
				<div class="col-sm-6">
					<img class="w-100" src="{% static 'img/cm.png' %}">
				</div>
				<div class="col-sm-6">
					<h2>Sarawak Government Commitment</h2>
					<br>
					<p>Sarawak Chief Minister Datuk Patinggi Abang Johari Tun Openg announced that forest restoration is one of the main agenda of the state government for coming years.</p> 
					<p>The sole purpose is to enrich the logged-over areas, especially permanent forest estates with high value timber species. Forest restoration is crucial as it keeps the forest alive and ensuring the overall ecosystem can carry its natural functions. Furthermore, it is to ensure that our forest can have sufficient and sustainable timber production.</p>
					<!--<a class="btn btn-custom" href="https://www.malaymail.com/news/malaysia/2019/03/07/forest-restoration-a-major-agenda-for-sarawak-cm-says/1730036" target="_blank">Learn More</a>-->
				</div>
			</div>
		</div>
	</div>
	<!-- End SGC-->

	<div class="container mt-4 mb-4">
		<div class="container-fluid p-4 border rounded shadow">
			<div class="row">
				<div class="col-sm-6">
					<h2>Forest Department Sarawak</h2>
					<br>
					<br>
					<p>Director of Forest Department Sarawak, Datu Hamden Bin Haji Mohammad, said this effort will balance out and reduce the impacts from the exploration of forest for development projects and help tackle the global climate crisis. Each tree planted is a voice for change, a monument to healing our planet and a message that we can do things differently.</p>
				</div>
				<div class="col-sm-6">
					<img class="w-100" src="{% static 'img/df.png' %}">
				</div>
			</div>
		</div>
	</div>
	<br>
	<!-- Objectives -->
	<div class="container mt-4 mb-4">
		<div class="container-fluid">
			<div class="row">
				<div class="col-sm-8">
					<h2>Our Goals</h2>
					<p>1. To restore and rehabilitate degraded forest in PFE, TPA and state-land forest</p>
					<p>2. To enrich logged-over areas with high value timber species especially on degraded areas</p>
					<p>3. To elevate livelihood of forest dependent communities</p>
					<p>4. To reduce pressure on natural forest by shifting timber production towards plantation of commercial and fast-growing species</p>
					<div class="pt-4">
						<a class="btn btn-custom" href="{% url 'wdim' %}">Why does it matter?</a>
					</div>
				</div>
				<div class="col-sm-4">
					<img src="{% static 'img/engkabang.png' %}">
				</div>
			</div>
		</div>
	</div>
	<!-- End Objectives -->

	<br>
	<div class="container">
		<hr>
	</div>

<div class="container">
	<div class="row">
	  <div class="col-sm-6 mb-4">
	    <div class="card">
	      <div class="card-body">
	        <h4 class="card-title">About us</h4>
	        <p class="card-text">FLR was launched by Sarawak Chief Minister Datuk Patinggi Abang Johari Tun Openg on 15 June 2019 at Sabal Agroforestry Centre. </p>
	        <a href="{% url 'about' %}" class="btn btn-custom">Story time</a>
	      </div>
	    </div>
	  </div>
	  <div class="col-sm-6 mb-4">
	    <div class="card">
	      <div class="card-body">
	        <h4 class="card-title">Our Forest</h4>
	        <p class="card-text">Large part of Sarawak is made up of forest. It houses a huge volume of tropical biodiversity. There's a high amount of plant diversity due to the variety of habitats.</p>
	        <a href="{% url 'forest_index' %}" class="btn btn-custom">Explore</a>
	      </div>
	    </div>
	  </div>
	  <div class="col-sm-6 mb-4">
	    <div class="card">
	      <div class="card-body">
	        <h4 class="card-title">Our resources</h4>
	        <p class="card-text">Nursery is important to provide optimum growing condition for germination to occur. It also ensures the right production of desired number of healthy seedlings.</p>
	        <a href="{% url 'nursery_index' %}" class="btn btn-custom">Take a walk</a>
	      </div>
	    </div>
	  </div>
	  <div class="col-sm-6 mb-4">
	    <div class="card">
	      <div class="card-body">
	        <h4 class="card-title">Species</h4>
	        <p class="card-text">We look for indigenous and exotic species. It is to ensure we have sufficient supply of seedlings. Moreover, it is to protect and save plant genetic diversity.</p>
	        <a href="{% url 'species_index' %}" class="btn btn-custom">Learn more</a>
	      </div>
	    </div>
	  </div>
	  <div class="col-sm-6 mb-4">
	    <div class="card">
	      <div class="card-body">
	        <h4 class="card-title">Activities</h4>
	        <p class="card-text">You can view all the planting programs that had been held throughout Sarawak. It ranges from planting program, seminar, awareness campaign, MoU Signings and more.</p>
	        <a href="{% url 'activity_index' %}" class="btn btn-custom">See our progress</a>
	      </div>
	    </div>
	  </div>
	  <div class="col-sm-6 mb-4">
	    <div class="card">
	      <div class="card-body">
	        <h4 class="card-title">Collaboration</h4>
	        <p class="card-text">Partnership between both public and private organizations is crucial to ensure the success of forest restoration. We share the same interest and spirit towards our goal.</p>
	        <a href="{% url 'partnership' %}" class="btn btn-custom">See who are with us</a>
	      </div>
	    </div>
	  </div>
	  <div class="col-sm-6 mb-4">
	    <div class="card">
	      <div class="card-body">
	        <h4 class="card-title">The Way Forward</h4>
	        <p class="card-text">We have  a long term plan to establish a strong presence in Sarawak restoration initiative. It comprises seven main agendas and goals that serve as our guidelines.</p>
	        <a href="{% url 'partnership' %}" class="btn btn-custom">Our plan </a>
	      </div>
	    </div>
	  </div>
	  <div class="col-sm-6 mb-4">
	    <div class="card">
	      <div class="card-body">
	        <h4 class="card-title">Publication</h4>
	        <p class="card-text">We documented our journey, research, results and data in various form of media. We use both traditional media such as poster and digital media such as web and digital files.</p>
	        <a href="{% url 'publication_index' %}" class="btn btn-custom">See what we've published</a>
	      </div>
	    </div>
	  </div>
	</div>
</div>

<div style="height: 100px;">
	<!--Empty stuff-->
</div>
{% endblock %}