{% extends 'base_en.html' %}

{% load static %}

{% block content %}
<div class="custom-div">
	<h2 class="text-center mb-4">Our Partners</h2>
		<p>Partnership between both public and private organizations is crucial to ensure the success of forest restoration. For some organizations, Memorandum of Understanding (MoU) commemorates the partnership. For others, the partnership embodies collaboration for planting programs, data sharing, solving the same issues and having mutual understanding and interest.</p>
		<div class="col">
			<div class="row justify-content-center">
				<img class="img-logo-box" src="{% static 'img/img_logo/sarawakenergy.png' %}" width="151" height="66">
				<img class="img-logo-box" src="{% static 'img/img_logo/jma.png' %}" width="122" height="36">
				<img class="img-logo-box" src="{% static 'img/img_logo/gppusaka.png' %}" width="148" height="52">
				<img class="img-logo-box" src="{% static 'img/img_logo/fujixerox.png' %}" width="128" height="25">
				<img class="img-logo-box" src="{% static 'img/img_logo/shell.png' %}" width="71" height="66">
				<img class="img-logo-box" src="{% static 'img/img_logo/taann.png' %}" width="58" height="60">
				<img class="img-logo-box" src="{% static 'img/img_logo/shinyang.png' %}" width="63" height="67">
				<img class="img-logo-box" src="{% static 'img/img_logo/rimbunanhijau.png' %}" width="56" height="79">
				<img class="img-logo-box" src="{% static 'img/img_logo/samling.png' %}" width="88" height="75">
				<img class="img-logo-box" src="{% static 'img/img_logo/simedarby.png' %}" width="81" height="81">
				<img class="img-logo-box" src="{% static 'img/img_logo/aeon.png' %}" width="82" height="27">
				<img class="img-logo-box" src="{% static 'img/img_logo/foressa.jpg' %}" width="85" height="51">
				<img class="img-logo-box" src="{% static 'img/img_logo/kembara.png' %}" width="80" height="54">
				<img class="img-logo-box" src="{% static 'img/img_logo/pbsm.png' %}" width="54" height="54">
			</div>
		</div>
</div>
{% endblock %}