{% extends 'base_en.html' %}

{% load static %}

{% block content %}
<br>
<br>
<div class="custom-div fade-in mt-4 border rounded shadow p-4">
	<br>
	<h2 class="text-center mb-4 custom-header">Our Partners</h2>
		<p>Partnership between both public and private organizations is crucial to ensure the success of forest restoration. For some organizations, Memorandum of Understanding (MoU) commemorates the partnership. For us, the partnership embodies collaboration for planting programs, data sharing, solving the same issues and having mutual understanding and interest.</p>
		<div class="col">
			<div class="row justify-content-center">
				<img class="img-logo-box" src="{% static 'img/img_logo/sarawakenergy.png' %}" width="151" height="66">
				<img class="img-logo-box" src="{% static 'img/img_logo/jma.png' %}" width="122" height="36">
				<img class="img-logo-box" src="{% static 'img/img_logo/gppusaka.png' %}" width="148" height="52">
				<img class="img-logo-box" src="{% static 'img/img_logo/fujixerox.png' %}" width="128" height="25">
				<img class="img-logo-box" src="{% static 'img/img_logo/shell.png' %}" width="71" height="66">
				<img class="img-logo-box" src="{% static 'img/img_logo/taann.png' %}" width="58" height="60">
				<img class="img-logo-box" src="{% static 'img/img_logo/shinyang.png' %}" width="63" height="67">
				<img class="img-logo-box" src="{% static 'img/img_logo/rimbunanhijau.png' %}" width="56" height="79">
				<img class="img-logo-box" src="{% static 'img/img_logo/samling.png' %}" width="88" height="75">
				<img class="img-logo-box" src="{% static 'img/img_logo/simedarby.png' %}" width="81" height="81">
				<img class="img-logo-box" src="{% static 'img/img_logo/aeon.png' %}" width="82" height="27">
				<img class="img-logo-box" src="{% static 'img/img_logo/foressa.jpg' %}" width="85" height="51">
				<img class="img-logo-box" src="{% static 'img/img_logo/kembara.png' %}" width="80" height="54">
				<img class="img-logo-box" src="{% static 'img/img_logo/pbsm.png' %}" width="54" height="54">
			</div>
		</div>

		<br>
		<hr>
		<br>

		<h4>Memorandum of Understanding (MoU) between Forest Department Sarawak and Sarawak Energy Berhad (SEB)</h4>
		<img class="w-100 mt-4 mb-4" src="{% static 'img/seb_collab.png' %}">
		<p>In 2018, Forest Department Sarawak and Sarawak Energy Berhad had signed the Memorandum of Udnerstanding (MoU). The MoU signing indicates that two projects were launched to manage and restore the forest, in line with the Rural Transformation Program. These projects will benefit the Penan community in terms of creating a platform for them to market their non-timber forest product (NTFP) and provide opportunities to involve in the forest conservation program.</p>

		<br>

		<h4>Planting program with FORESSA in Kanowit East reserve</h4>
		<img class="w-100 mt-4 mb-4" src="{% static 'img/foressa_collab.png' %}">
		<p>In 2020, Forest Department Sarawak collaborate with Forest Department Sarawak Recreation and Social Club (FORESSA) to plant trees in Kanowit East Reserve. Forest Landscape Restoration (FLR) is one of the State Government commitments. Apart from strengthening the bond between the members, the program also aimed to inspire other clubs, governement and private agencies to act and support the vision of Forest Department Sarawak. The species that were planted during the program comprised of Ketiau paya, Nyatoh babi, Ramin telor, Nyatoh ketiau, Bintangor and Geronggang.</p>

		<br>

		<h4>Planting program between Forest Department Sarawak and KEMBARA in Sabal FLR Centre</h4>
		<img class="w-100 mt-4 mb-4" src="{% static 'img/kembara_collab.png' %}">
		<p>In 2020, Kelab Kembara Anak Sarawak (KEMBARA) joined effort with Forest Department Sarawak for planting program in Sabal FLR Centre. They were also joined by the local community. As part of the department's corporate social responsibility, the program also becomes the conservation effort by all parties ever since Sabal forest has been gazetted as forest reserve. The saplings that were planted during the event included Engkabang jantong, Meranti, Keruing, Kapor and Belian.</p>

		<br>

		<h4>Planting program between Forest Department Sarawak and Japan Malaysia Association (JMA) in coastal area of Kampung Buntal</h4>
		<img class="w-100 mt-4 mb-4" src="{% static 'img/jma_collab.png' %}">
		<p>In the end of 2020, Forest Deparment Sarawak collaborated with Japan-Malaysia Association (JMA) to plant 1000 mangrove species along the coastal area of Kampung Buntal. That species included <i>Rhizophora mucronata and Rhizophora apiculata.</i> The program aimed to raise public awareness regarding the importance of mangrove forest. Moreover, the collaboration signified the effort to provide a natural infrastructure that protects the coast from soil erosion and suitable habitat for marine lifes.</p>

</div>
{% endblock %}