{% extends 'base_en.html' %}

{% load static %}

{% block content %}
<div class="custom-div fade-in mt-4 border rounded shadow p-4">
	<br>
		<br>
		<h4>1. To restore and rehabilitate degraded forest in PFE, TPA and Stateland forest</h4>
		<img class="w-100 mt-4 mb-4" src="{% static 'img/wdim-2.png' %}">
		<p>The Sarawak government has gazetted 6 million hectares of state forest as Permanent Forest Estate (PFE) whereas 1 million hectares has been designated as Totally Protected Area (TPA). PFE and TPA serve the sole purpose of sustainable forest management. In Sarawak, there are 3 areas of concern which are PFE, TPA and State Land.</p>
		<p>All these designated areas had been degraded over time as the result of natural causes and human activities. The gazettement of PFE and State Land is the first initiative to bring back the degraded forests area into its greener state.  After years of planning and execution, the most holistic and promising way to save the forest is through restoration and conservation effort.</p>
		<br>
		<h4>2. To enrich logged-over areas with high value timber species especially on degraded areas</h4>
		<img class="w-100 mt-4 mb-4" src="{% static 'img/wdim-1.png' %}">
		<p>Sarawak is renowned with its timber resources and the forest diversity is vast with various species of high value timber. For the past decades, Sarawak forest has experienced degradation as the result of logging due to high global market demand for timber supply, not to mention the increasing number of illegal logging. </p>
		<p>To prevent further degradation of land, those logged-over areas are restored with new species. Only this time, the new strategy is to fill the logged-over areas with high value timber species. This approach is vital to ensure the maximum productivity of forest products in the long run. At the same time, the approach preserves biodiversity and keeps the ecosystem in balance.</p>
		<h4>3. To alleviate livelihood of forest dependent communities</h4>
		<img class="w-100 mt-4 mb-4" src="{% static 'img/wdim-3.png' %}">
		<p>Sarawak is known for its diverse population; ranging from multiple ethnic backgrounds and cultures. To this day, there are still some populations that live in the rural part of the state, mainly near the deep forest area. Their economy and livelihood revolve around the forest as well. As such, the forest is their primary source for food, shelter and financial income.</p>
		<p>Forest dependent communities typically are small farmers and they depend on the forest for source of wood for building materials, logs for fire, medicine and some of the forest products will be sold at the market. Forest landscape restoration will provide these communities with valuable tree species based on the market demand. Sarawak Government, represented by the Forest Department Sarawak will provide assistance in terms of expertise, knowledge, research and development and seedling. This will indirectly create a new employment opportunity for the forest dependent communities. </p>
		<br>
		<h4>4. To reduce pressure on natural forest by shifting timber production towards plantation of indigenous fast growing species</h4>
		<img class="w-100 mt-4 mb-4" src="{% static 'img/wdim-4.png' %}">
		<p>Throughout the decades, rapid timber production has brought tremendous effect on the natural forest. It became the major contributor for the degradation of forest landscape and loss of forest diversity. Thus, forest landscape restoration is seen as a major initiative to reduce the pressure by cultivating more indigenous and fast growing species. It matters as part of the State’s agenda to preserve and conserve the natural forest and at the same time to regulate the forest timber output. It all comes to sustainable forest management.</p>
		<p>During the early days of forest plantation in the 1920s, Engkabang (<i>Shorea macrophylla</i>) was planted as the first indigenous and fast growing species. Then, the state progressed with durian and tropical hardwood such as <i>Acacia mangium</i>. In 2020, Revotropix Paulownia is highlighted as the next species that has high commercial value and it is a fast growing species. They are all part of the agroforestry initiative by the State Government to save our natural forest. Today, the effort is further developed through research and development and collaboration with private organizations.</p>
</div>
{% endblock %}